extends layout

block title
  | HSBNE Finances

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='balance', data-view='Text', data-title='Balance', data-text='bank balance', data-moreinfo='')
